html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border-radius: 20px; */
    /* margin: 0 auto; */
}
@font-face{
    font-family: "Tuesday Night";
    src: url(./TuesdayNight-Regular.otf);
}
:root{
    --main-bg-color: #d1c8b8;
    --main-txt-color: #1E1E1E;
    --container-width: 90%; 
    --hero-font: "Forum", 60px;
    --subtitle-font: "Forum", 50px;
}
body{
    background-color: var(--main-bg-color);
    color: black;
    font-size: 14px;
    line-height: 21px;
    /* max-width: 1445px; */
    width: 100%;
    height: 100vh;
    font-family: 'Forum' serif;
}
header{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--hero-font);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 60%;
}
li{
    list-style: none;
    margin: 10px 0;
}
li a:hover{
    color: #94764E;
}
a{
    text-decoration: none;
    color: beige;
}
img{
    width: 80%;
    /* padding: 36px; */
    border-radius: 20px;
  
}
.header-contents{
    display: flex;
    justify-content: space-between;
    height: 100%;
    
}
.signature{
    font-family: "Tuesday Night";
    font-size: 30px;
    /* margin: 20px 0; */
    color: #000;
}
.left-container{
    background: #1e1e1e;
    color:beige;
    width: 60%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:40px;
   
}
.right-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 40px; */
    /* margin: 20px 0; */
}
button{
    background: #94764E;
    border: none;
    padding: 20px 35px;
    margin: 10px 10px;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: #dbd3d3;
    cursor: pointer;

    transition: all 1s ease-in-out;

}
button:hover{
    box-shadow: 10px 10px 0px 0px rgba(128, 119, 101, 0.5);
    cursor: pointer;
    padding:20px;
}
.icon_container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.fab, .fas{
    font-size: 20px;
    margin: 8px 8px;
    color: #94764E;

    transition: all 1s ease-in-out;
    cursor: pointer;
}
.fab:hover, .fas:hover{
    /* color: #94764E; */
    border: #9b9b9b 1px solid;
    border-radius: 20px;
    padding: 8px;
    margin-top: 8px;
}
/* .icon_container .fab{
    font-size: 25px;
} */
h1{
    font-family: 'Forum';
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 49px;
    margin: 30px 0;
}
span{
    color: #94764E;
   
}
h2 span{
    border-bottom: #C4C4C4 solid 1px;
}
h1, h2{
    margin: 10px 0;
}
.heroP{
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 10px;
}

/*  HEADER ENDS */



/* SKILLS SECTION STARTS */

.titles{
    font-size: 2em;
    color: #1E1E1E;
}
.sectionTitle{
    /* padding: 30px; */
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 221px;
    text-align: center;
    border-bottom: #94764E solid 1px;

    color:#94764E;

}
.transition2{
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.transition2:hover{
    background-color: #b9ab99;
    margin-top: 20px;
    
    
}
.fas{
    font-size: 30px;
    color: #94764E;
}
.skills{
    width: 100%;
    background-color: #1E1E1E;
    margin: 30px 0;
    padding-top: 30px;


}
.skillscontainer ul{
    display: flex;
    padding: 50px;

}
.skillscontainer ul li{
    background-color: var(--main-bg-color);
    padding: 40px;
    margin: 5px;
    border-radius: 1em;
    /* margin-bottom: 1em; */
}
.featuredDesc a{
    color: #94764E;
    padding: 0;
}
.featuredDesc a:hover{
    color: #1E1E1E;
}
.skillTitle{
    font-weight: bold;
    font-size: 18px;
}
p.featuredDesc, .skillTitle{
 line-height: 18px;
 margin: 20px 0
}

/* SKILLS SECTION ENDS */



/* PROJECTS SECTION STARTS*/

.projects{
    width: 100%;
    
}
.projectContainer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 30px;


}
.cardImage{
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}
.projectCard img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.projectCard{
    background-color: #1e1e1e;
    color: #C4C4C4;
    /* border: 3px solid #1E1E1E; */
    padding: 20px;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    margin: 10px;
    max-width: 100%;
    

}
.projectCard:hover{
    box-shadow: -12px 20px 0px 0 rgba(20, 20, 20, .5);
    cursor: pointer;
    margin:20px;
}
.cardContent{
    padding: 1em;

}
.cardContent .cardTitle{

    color: #94764E;
}
.wrapper .two{
    color: #1E1E1E;
}
.projects .sectionTitle{
    border-bottom: #1E1E1E solid 1px;
}
.liveLinks{
    display: flex;
    justify-content: space-between;
}
.iconleft .fab{
    margin: 0;
    padding: 5px;
}
.iconright a {
    margin: 0;
    padding: 0;
}
.liveLinks .fab, .iconright a .fas {
    font-size: 20px;
}

/* PROJECTS SECTION ENDS*/



/* CONTACT SECTION STARTS*/


.form{
    background-color: #1E1E1E;
    color: #C4C4C4;
    padding-top: 30px;
    /* padding: 50px; */
}
.socialIcons{
    text-align: left;
}
.socialIcons a{
    padding:0;
}
.contactform{
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    height: auto;
    align-items: center;
}
.formbox{
    width:45%;
    
}
.contactContent{
    background-color:rgb(108, 107, 107);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    margin: 10px;
}
.contactLabel{
    font-size: 1em;
    color: #C4C4C4;
}
.contactInput{
    width: 100%;
    background-color: rgb(108, 107, 107);
    color: #C4C4C4;
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
    
}
.left{
    background-color: #d1c8b8;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 70px;
    width: 40%;

    transition: all 1s ease-in-out;
    
}
.left:hover{
    box-shadow: 20px 20px 0px 0px rgba(128, 119, 101, 0.5);
    cursor: pointer;
    padding:40px;
}
.left h2{
    font-size: 30px;
    font-family: "Forum" sans-serif;
}
.left p{
    width: 100%;
}
.right{
    padding-right: 60px;
}
.contact2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:#94764E solid 1px;
    border-top:#94764E solid 1px ;
    margin-top: 40px;
  
}
.contactPhoto{
    width: 250px;
    border-radius:50%;
    margin: 20px 0;
    padding: 30px;

    transition: all 1s ease-in-out;
  
}
.contactPhoto:hover{
    cursor: pointer;
    margin-top: 20px;
}
.contactLinks{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;   
}
.otherBtn{
    transition: all 1s ease-in-out;
    margin-top: 30px;
}
.otherBtn:hover{
    color: #1E1E1E;
    margin-top: 20px;
   
}
.otherBtn a:hover{
    color: #1E1E1E;
}
.second{
    color: #C4C4C4;
    padding-bottom: 20px 0;
    font-size: 20px;

}

/* PROJECTS SECTION ENDS*/



/* FOOTER SECTION STARTS*/

footer{
    background-color: #94764E;
    color:#dbd3d3;
    text-align: center;
    padding: 20px;
}
footer a{
    padding: 0 0;
}
footer p{
    font-size: 20px;
}

/* FOOTER SECTION ENDS*/


@media (max-width: 1200px) {
	/* rules here apply to devices from 993px to 1200px (inclusive) */
    
}
@media (max-width: 992px) {	
	/* rules here apply to devices from 769px to 992px (inclusive) */

    /* HEADER SECTION */
    li, p{
        font-size: 12px;
        line-height: 17px
    }
    .skillscontainer ul{
        flex-direction: column;
   }
   .skillscontainer ul li{
       padding: 30px;
   }   
   .projectContainer{
       flex-direction: column;
       padding: 0 30px;
   }
   .formbox{
       width: 100%;
   }
   .contactform{
       flex-direction: column-reverse;
   }
   .contact2{
       flex-direction: column;
       margin-bottom: 30px;
   }
   .contactLinks{
       width: 100%;
       justify-self: unset;
   }
   .right{
       padding-left: 60px;
   }
   .formbox .left {
       width: 100%;
   }
   .leftContainer{
       border-bottom-left-radius: 30px;
       /* border-bottom-right-radius: 30px; */
   }
   .left, .socialIcons{
       text-align: center;
   }
    
}
@media (max-width: 768px) {
	/* rules here apply to devices from 0px to 768px (inclusive) */

    .right-container{
        display: none;
    }
    .left-container{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }
    h1{
        font-size: 25px;
        line-height: 34px;
    }
    h2{
        font-size: 18px;
        line-height: 24px;

    }
    .skill.sectionTitle{
        font-size: 20px;
    }
    .sectionTitle{
        font-size: 50px;
    }
    .sectionTitle{
        line-height: 65px;
    } 
    footer p{
        font-size: 16px;
    }
 
}
@media (max-width: 358px){
    nav{
        width: 100%;
    }
    p{
        font-size: 12px;
        /* line-height: 15px; */
    }
    h1{
        font-size: 18px;
    }
    h2, .fab{
        font-size: 15px;
    }
    .contactLinks{
        flex-direction: column;
    }
    .otherBtn{
        margin-bottom: 0;
    }
}
@media (max-width: 250px){
    nav{
        display: none;
    }

}
@media (max-width: 238px){
    h1{
        font-size: 14px;
        line-height: 19px;
    }
    h2, .fab{
        font-size: 12px;
    }

    p{
        font-size: 8px;
    }
  
    
}


