html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* @import url('https://fonts.googleapis.com/css2?family=Forum&family=Poppins:wght@400;800&family=Tenor+Sans&display=swap'); */
        
@font-face{
    font-family: "Tuesday Night";
    src: url(./TuesdayNight-Regular.otf);
}

:root{
    --main-bg-color: #d1c8b8;
    --main-txt-color: #1E1E1E;
    --container-width: 90%; 
    --hero-font: "Forum" cursive, 60px;
    --subtitle-font: "Forum", 50px;
}
*{
    box-sizing: border-box;
    /* border: teal 1px solid; */
}
body{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 100%;
    max-width: 1680px;
    background-color: var(--main-bg-color);
    font-family: 'Forum' serif;
    background-color: #d1c8b8;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.projectCard img{
    filter:grayscale(90%)
}
img:hover{
    filter: unset;
}


/*  NAVIGATION  */

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
a{
    text-decoration: none;
    padding: 0 1em;
    /* color: #1E1E1E; */
    color: #C4C4C4;
}
ul li a:hover{
    color: #94764E;
}


/*  HEADER  */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;

}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #C4C4C4;
    height: 100vh;
    /* gap: 1em; */

    
}
.heroP{
    font-family: Tenor Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 10px;
}
h1{
    font-family: 'Forum';
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    line-height: 69px;
    margin: 30px 0;
}
span{
    color: #94764E;
   
}
h2 span{
    border-bottom: #C4C4C4 solid 1px;
}
h2{
    font-family: "Forum";
}
button{
    background: #94764E;
    border: none;
    padding: 20px 35px;
    margin: 10px 10px;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #dbd3d3;
    cursor: pointer;

    transition: all 1s ease-in-out;

}
button:hover{
    box-shadow: 10px 10px 0px 0px rgba(128, 119, 101, 0.5);
    cursor: pointer;
    padding:20px;
}
.leftContainer{
    background-color: #1e1e1e;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s ease-in-out;
}
.rightContainer{
    padding: 2em 3em;
    background-color: #d1c8b8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;

}
.portrait{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    object-fit: contain;
    /* box-shadow: 40px 40px 30px rgba(0,0,0,0.3);
    background-color:#1e1e1e */
}
.icon_container{
    display: flex;
    flex-wrap: wrap;
}
.fab, .fas{
    font-size: 30px;
    margin: 10px 10px;
    color: #94764E;

    transition: all 1s ease-in-out;
    cursor: pointer;
}
.fab:hover, .fas:hover{
    /* color: #94764E; */
    border: #9b9b9b 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}
.fa-long-arrow-alt-down{
    font-size: 40px; 
    text-align: center;
    justify-content: center;
    font-weight:thin;
    position: relative;
    padding-bottom: 40px;
    left: 400px;
    top: 100px;

    transition: all 1s ease-in-out;
    cursor: pointer;
}
.hamburger{
    background-color: transparent;
    border: 0;
    color: #94764E;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    display: none;

}
.hamburger:focus{
    outline: none;
}
.signature{
    font-family: "Tuesday Night";
    font-size: 50px;
    color: #000;
}
.second{
    color: #C4C4C4;
    font-size: 40px;

}
.tools{
    margin: 20px 0;
    width: 100%;

}


/* SKILLS */

.titles{
    font-size: 2em;
    color: #1E1E1E;
}
.transition2{
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.transition2:hover{
    background-color: #b9ab99;
    margin-top: 20px;
    
    
}
.fas{
    font-size: 30px;
    color: #94764E;
}
.skills{
    width: 100%;
    background-color: #1E1E1E;


}
.skillscontainer ul{
    display: flex;
    padding: 50px;

}
.skillscontainer ul li{
    background-color: var(--main-bg-color);
    padding: 40px;
    margin: 5px;
    border-radius: 1em;
    /* margin-bottom: 1em; */
}
.featuredDesc a{
    color: #94764E;
    padding: 0;
}
.featuredDesc a:hover{
    color: #1E1E1E;
}
.skillTitle{
    font-weight: bold;
}

/* PROJECTS */

.projects{
    width: 100%;
}
.projectContainer{
    display: flex;
    justify-content: space-between;
    height: 100%;


}
.cardImage{
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}
.projectCard img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.projectCard{
    background-color: #1e1e1e;
    color: #C4C4C4;
    /* border: 3px solid #1E1E1E; */
    padding: 20px;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    margin: 10px;
    max-width: 100%;
    

}
.projectCard:hover{
    box-shadow: -12px 20px 0px 0 rgba(20, 20, 20, .5);
    cursor: pointer;
    margin:20px;
}
.cardContent{
    padding: 1em;

}
.cardContent .cardTitle{

    color: #94764E;
}
.wrapper .two{
    color: #1E1E1E;
}
.projects .sectionTitle{
    border-bottom: #1E1E1E solid 1px;
}
.liveLinks{
    display: flex;
    justify-content: space-between;
}
.iconleft .fab{
    margin: 0;
    padding: 5px;
}
.iconright a {
    margin: 0;
    padding: 0;
}
.liveLinks .fab, .iconright a .fas {
    font-size: 20px;
}

/* CONTACT FORM */


.form{
    background-color: #1E1E1E;
    color: #C4C4C4;
    /* padding: 50px; */
}
.socialIcons{
    text-align: left;
}
.socialIcons a{
    padding:0;
}
.contactform{
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    height: auto;
    align-items: center;
}
.formbox{
    width:45%;
    
}
.contactContent{
    background-color:rgb(108, 107, 107);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    margin: 10px;
}
.contactLabel{
    font-size: 1em;
    color: #C4C4C4;
}
.contactInput{
    width: 100%;
    background-color: rgb(108, 107, 107);
    color: #C4C4C4;
    /* font-family: ;
    font-size: ; */
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
    
}
.left{
    background-color: #d1c8b8;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 70px;
    width: 40%;

    transition: all 1s ease-in-out;
    
}
.left:hover{
    box-shadow: 20px 20px 0px 0px rgba(128, 119, 101, 0.5);
    cursor: pointer;
    padding:40px;
}
.left h2{
    font-size: 30px;
    font-family: "Forum" sans-serif;
}
.left p{
    width: 100%;
}
.right{
    padding-right: 60px;
}
.sectionTitle{
    padding: 30px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 221px;
    text-align: center;
    border-bottom: #94764E solid 1px;

    color:#94764E;

}
.contact2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:#94764E solid 1px;
    border-top:#94764E solid 1px ;
  
}
.contactPhoto{
    width: 50%;
    border-radius:50%;
    padding: 30px;

    transition: all 1s ease-in-out;
  
}
.contactPhoto:hover{
    cursor: pointer;
    margin-top: 20px;
}
.contactLinks{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;   
}

.otherBtn{
    transition: all 1s ease-in-out;
}
.otherBtn:hover{
    color: #1E1E1E;
    margin-top: 20px;
   
}
.otherBtn a:hover{
    color: #1E1E1E;
}


/* FOOTER */

footer{
    background-color: #94764E;
    color:#dbd3d3;
    text-align: center;
    padding: 20px;
}
footer a{
    padding: 0 0;
}
footer p{
    font-size: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 375px){
   .sectionTitle{
       line-height: 65px;
       
   } 
 
   /* .leftContainer{

   } */
   /* .heroContent h1{
       font-size: 30px;
       line-height: 39px;
    
   } */
   .heroP{
       font-size: 10px;
       line-height: 15px;
   }
   .otherBtn a{
       padding: 0;
   }
   
}

@media screen and (max-width: 585px){
    nav{
        display: none;
    }
    .contactPhoto{
        width: 100%;
        padding: 0;
        margin: 30px;

    }
    .icon_container .fab{
        font-size: 20px;
    }
    .skill.sectionTitle{
        font-size: 20px;
    }
    .sectionTitle{
        font-size: 50px;
    }
   
}
@media screen and (max-width: 836px){
    /* nav{
        display: none;
    } */
    
    .heroContent h1{
        font-size: 40px;
        line-height: 45px;
    }
     .skillscontainer ul{
         flex-direction: column;
    }
    .skillscontainer ul li{
        padding: 30px;
    }   
    .projectContainer{
        flex-direction: column;
        padding: 0 30px;
    }
    .formbox{
        width: 100%;
    }
    .contactform{
        flex-direction: column-reverse;
    }
    .contact2{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .contactLinks{
        width: 100%;
        justify-self: unset;
    }
    .right{
        padding-left: 60px;
    }
    .formbox .left {
        width: 100%;
    }
    .leftContainer{
        border-bottom-left-radius: 30px;
        /* border-bottom-right-radius: 30px; */
    }
    .left, .socialIcons{
        text-align: center;
    }
     .signature.second{
        color: #C4C4C4;
        font-size: 30px;
        display: block;
    }


}
@media screen and (max-width: 1025px){
    /* nav ul{
        display: none;
    } */
    /* nav{
        justify-content: center;
    } */
    /* .icon_container{
        justify-content: center;
    } */
    /* .heroContent{
        text-align: center;
    } */
   
    .leftContainer{
        background-color: #1e1e1e;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }
    .rightContainer{
        display:none;
    }
    .contactPhoto{
        width: 40%;
    }
    .otherBtn{
        padding: 15px 25px;
        margin: 5px 5px;
        font-size: 15px;
    }
    .otherBtn:hover{
        content: '';

    }
    
    .heroP{
        text-align: start;
    }

    .iconright a{
        padding: 0;
    }
   
    .iconright .fab{
        padding: 5px;
        margin: 0;
    }
    .liveLinks{
        flex-wrap: wrap;
    }
  
}
@media screen and (max-width: 1137px){
    .rightContainer{
        display: none;
    }
    .leftContainer{
        border-bottom-left-radius: 30px;
        border-top-right-radius: unset;

    }
}
@media screen and (max-width: 1455px){
    h1{
        font-size: 60px;
        line-height: 69px;
    }
    p{
        font-size: 15px;
    }
    .tools h2{
        font-size: 20px;
    }
    .fab, .fas{
        font-size: 25px;
    }
    .second{
        display: none;

    }
    /* .hamburger{
        display: none;
    } */
    
}

